{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/changepw" method="post" class="form-signin container-sm">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control form-control-lg" name="current_pw" placeholder="current password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control form-control-lg" name="password" placeholder="new Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control form-control-lg" name="confirmation" placeholder="new Password (confirmation)" type="password">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    </form>
{% endblock %}