{% extends "layout.html" %}

{% block title %}
    Search Recipe Book
{% endblock %}

{% block main %}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-ings-tab" data-bs-toggle="tab" href="#nav-ings" role="tab" aria-controls="nav-ings" aria-selected="true">by Ingredients</a>
      <a class="nav-link" id="nav-word-tab" data-bs-toggle="tab" href="#nav-word" role="tab" aria-controls="nav-word" aria-selected="false">by keyword</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-ings" role="tabpanel" aria-labelledby="nav-ings-tab">
        <form action="/" method="get" id='form-ings'>
            <div class="row mt-5">
                <div class="col-md-12">
                    <select class="form-select form-select-lg select" name="ings" multiple="multiple" aria-label=".form-select-lg" id='select-ings'>
                        {% if ings %}
                            {% for ing in ings %}
                                {% if ing.id in selected_ings %}
                                    <option value="{{ing.id}}" selected>{{ing.name}}</option>
                                {% else %}
                                    <option value="{{ing.id}}">{{ing.name}}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <option value="none">no data</option>
                        {% endif %}
                    </select>
                </div>
                <!-- <div class="col-md-2">
                    <button type="submit" class="btn-lg btn-primary mb-3">Search</button>
                </div> -->
            </div>
            <input name="t" value="ingredients" hidden>
                {% if cats %}
                    <div class="row mt-3">
                        <h3>filter by categories</h3>
                    </div>
                    <div class="row px-4" id='catCheckBoxs'>
                        {% for category in cats %}
                        <div class="col-md-2 form-check form-check-inline">
                            {% if category.id in selected_cats %}
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox{{category.id}}" name="cats" value="{{category.id}}" checked>
                            {% else %}
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox{{category.id}}" name="cats" value="{{category.id}}">
                            {% endif %}
                            <label class="form-check-label" for="inlineCheckbox{{category.id}}">{{category.name}}</label>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
        </form>
    </div>
    <div class="tab-pane fade" id="nav-word" role="tabpanel" aria-labelledby="nav-word-tab">
        <form action="/" method="get">
            <div class="row mt-5" id="search-input">
                <div class="col-md-10">
                    {% if query_type == 'ingredients' or query_word == None %}
                        <input class="form-control form-control-lg" type="text" name='q' placeholder="input keyword" aria-label=".form-control-lg">
                    {% else %}
                        <input class="form-control form-control-lg" type="text" name='q' placeholder="input keyword" aria-label=".form-control-lg" value='{{query_word}}'>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn-lg btn-primary mb-3">Search</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-2 form-check form-check-inline">
                    <!-- default value -->
                    <input class="form-check-input" type="radio" name="t" id="inlineRadio1" value="recipe_name" checked>
                    <label class="form-check-label" for="inlineRadio1">recipe name</label>
                </div>
                <div class="col-md-2 form-check form-check-inline">
                    {% if query_type in ['book_title', 'book_id'] %}
                        <input class="form-check-input" type="radio" name="t" id="inlineRadio2" value="book_title" checked>
                    {% else %}
                        <input class="form-check-input" type="radio" name="t" id="inlineRadio2" value="book_title">
                    {% endif %}
                    <label class="form-check-label" for="inlineRadio2">book title</label>
                </div>
                <div class="col-md-2 form-check form-check-inline">
                    {% if query_type in ['author_name', 'author_id'] %}
                        <input class="form-check-input" type="radio" name="t" id="inlineRadio3" value="author_name" checked>
                    {% else %}
                        <input class="form-check-input" type="radio" name="t" id="inlineRadio3" value="author_name">
                    {% endif %}
                    <label class="form-check-label" for="inlineRadio3">author name</label>
                </div>
            </div>
       </form>
    </div>
</div>

<hr>
{% if recipes %}
    <table class="table table-borderless table-striped table-hover">
    <thead>
        <tr>
            <th>name</th>
            <th>category</th>
            <th>author</th>
            <th>book title</th>
        </tr>
    </thead>
    <tbody>
    {% for recipe in recipes %}
        <tr>
            <td><a href='/?t=recipe_id&id={{recipe.id}}&q={{recipe.name}}'>{{recipe.name}}</a></td>
            <td>{{recipe.category}}</td>
            <td><a href="/?t=author_id&id={{recipe.author_id}}&q={{recipe.author}}">{{recipe.author}}</a></td>
            <td><a href="/?t=book_id&id={{recipe.book_id}}&q={{recipe.book}}">{{recipe.book}}</a></td>
        </tr>
        </tr>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% elif recipe %}
    <h2> {{recipe.name}}の詳細</h2>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th scope="row">Category</th>
            <td>{{recipe.category}}</td>
        </tr>
        <tr>
            <th scope="row">Author</th>
            <td><a href="/?t=author_id&id={{recipe.author_id}}&q={{recipe.author}}">{{recipe.author}}</a></td>
        </tr>
        <tr>
            <th scope="row">Book title</th>
            <td><a href="/?t=book_id&id={{recipe.book_id}}&q={{recipe.book}}">{{recipe.book}}</td>
        </tr>
        {% for i in range(recipe.ingredients | length) %}
            <tr>
                <th scope="row">Ingredients {{i + 1}}</th>
                <td><a href="/?ings={{ recipe.ingredients[i].id }}&t=ingredients">{{ recipe.ingredients[i].name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% elif query_type %}
    <h2>検索結果は存在しません、文言を変えるなどして再検索ください。</h2>
{% endif %}

{% if query_type in ['recipe_name', 'recipe_id', 'book_title', 'book_id', 'author_name', 'author_id']  %}
    <script type="text/javascript">
        select_keyword_tab()
    </script>
{% endif%}
{% endblock %}